body {
    margin: 0;
    padding: 0;
    background-color: #f5f4f0;
    font-family: "Open Sans", sans-serif;
}

#page {
    max-width: 1120px;
    margin: 82px auto;
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    border: none;
}

/* HEADER */

.headline {
    color: #e1624f;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #1b1b1b;
    font-size: 36px;
    font-weight: bold;
}

header img {
    width: 1120px;
    height: 660px;
    margin-top: 0;
    margin-bottom: 24px;
    border-radius: 28px;
    object-fit: cover;
}

.descricao {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    color: #333333;
    font-size: 16px;
    font-style: italic;
}

/* SECTION */

section .headline {
    margin-top: 64px;
    margin-bottom: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #1b1b1b;
    font-size: 32px;
    font-weight: bold;
}

section img {
    width: 1120px;
    height: 350px;
    margin-top: 48px;
    margin-bottom: 20;
    border-radius: 28px;
    object-fit: cover;
}

section h3 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}

p {
    margin: 0;
    color: #333333;
    font-size: 16px;
}

.bom-para {
    margin-top: 26px;
    margin-bottom: 0;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

ul {
    margin: 0;
}

#templo1 li, #templo2 li, #parque li {
    padding: 0;
    color: #0c51a7;
    font-size: 16px;
    font-weight: 680;
}

#divisor2 {
    margin-top: 40px;
}

/* FOOTER */
footer p {
    margin-top: 40px;
    margin-bottom: 67px;
    font-family: "Alice", serif;
    color: #333333;
    font-size: 16px;
    text-align: center;
}